@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background:gray;
}
img{
    height: 200px;
    width: 200px;
}
.images-content{
    display: flex;
    flex-wrap: wrap;
}
.official-page{
    color: gainsboro;
}